html, body {
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
  line-height: 1.1em;
}

h2, h3, h4 {
  /* font-weight: 500; */
}

a {
  text-decoration: none;
  color: lightblue;
}
a:hover {
  text-decoration: underline;
}